

<h1>User Show Page</h1>


<%= @user.name  %><br><br>
<%= @user.email  %><br>
<%= @user.provider  %><br>
<%= @user.image  %><br>
<%= @user.uid  %><br>
<%= @user.name  %><br>
<%= @user.created_at  %><br>
<%= @user.updated_at  %><br>
 
