<% if current_user %>
  <h1>Welcome, <%=current_user.name%></h1>
  <h2><%=current_user.email%></h2>
  <h2>You logged in with <%=current_user.provider%></h2>
  <h2><%=current_user.uid%></h2>
  <img src="<%=current_user.image%>" alt="Your Profile Image">
<%else%>
  <a href='/auth/facebook'>Login with Facebook</a>
<%end%>
